#wall
{
	height: 100%;
}

#conceptContainer
{
	display: flex;
	flex-direction: row;
	margin-top: 6%;
}

p,h1,h2{
	color: black;
}

#conceptTextContainer
{
	width: 120%;
	margin-top: 2%;
	margin-left: 10%;
}

#conceptTextContainer p
{
	font-size: 1vw;
	width: 100%;
}


#appImg
{
	margin-top: 2%;
}

