#navBarContainer
{
	width: 100%;
}

#logoContainer
{
	position: absolute;
	margin-left: 7vw;
}

#logoImg
{
	width: 78%;
}

.main-nav {
  	display: -webkit-flex;
  	display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  	background: black;
 	margin-top: 0;
}
.main-nav li:first-child {
  	margin-left: 20vw;
}

.main-nav li:last-child {
    margin-left: auto;
}

.main-nav li
{
	list-style: none;
}

.main-nav a {
	margin: 10px;
	margin-left: auto;
	color: white;
	font-size: 1.5em;
	display: block;
	padding: 15px;
	padding-right: 30px;
	text-decoration: none;
}
.main-nav a:hover
{
	opacity: 0.8;
}


/* Following Media Query Dimensions Taken From
   https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488

/* desktops */
@media (min-width: 1281px)
{

}

/* laptops */
@media (min-width: 1025px) and (max-width: 1280px)
{
    #logoImg
    {
        height: 66px;
    }
    .main-nav a {
        font-size: 1.4vw;
    }
}

/* portrait tablets */
@media (min-width: 768px) and (max-width: 1024px)
{
    #logoImg
    {
        width: 13vw;
        height: auto;
    }
    .main-nav a {
        font-size: 1.5vw;
        padding-right: 10px;
        padding: 1vw;
    }
}

/* tablets */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
{
    #logoImg
    {
        width: 13vw;
        height: auto;
    }
    .main-nav a {
        font-size: 1.5vw;
        padding-right: 10px;
        padding: 1vw;
    }
}

/* low res tables and landscape smartphones */
@media (min-width: 481px) and (max-width: 767px)
{
    #logoImg
    {
        height: 34px;
        width: auto;
    }
    .main-nav a {
        font-size: 0.7em;
        padding-right: 10px;
        padding: 2px;
    }
}

/* portrait smartphones */
@media (min-width: 320px) and (max-width: 480px)
{
    #logoContainer
    {
        margin-left: auto;
    }
    .main-nav li:first-child {
        margin-left: 35px;
    }
    #logoImg
    {
        height: 28px;
        width: auto;
    }
    .main-nav a {
        font-size: 0.5em;
        padding-right: 10px;
        padding: 0px;
    }
}

