@font-face /*Allows us to import a font from the directory*/
{
	font-family: customFont;
	src: url('../HabelDemo.otf');
}

html,body
{
	margin: 0;
	padding: 0;
	width: 100%;
}

body
{
	font-family: customFont;
}


p,h1,h2,h3
{
	color: white;
}

.pdf_dim
{
	width: 92%;
	height: 43vw;
	margin-left: 5%;
}
h2
{
	font-size: 1.8em;
}
