#wall
{
	margin-bottom: 10%;
}
#conceptContainer
{
	display: flex;
	flex-direction: row;
}

p,h1,h2{
	color: black;
}

#conceptTextContainer
{
	margin-top: 1.5%;
	width: 50%;
	margin-left: 10%;
	margin-right: 10%;
}

#conceptTextContainer p
{
	font-size: 1.1vw;
	width: 100%;
}

#concept_intro
{
	margin-bottom: 6%;
}

#illustrations_ft
{
	display: flex;
	flex-direction: row;
}

.illustrations_col_ft
{
	display: flex;
	flex-direction: column;
}

.features
{
	margin-bottom: 2%;
}

.features p
{
	margin-left: 9%;
}

.img_illustration_ft
{
	width: 75%;
	height: 75%;
	margin-left: 5%;
}

#meeting
{
	margin-bottom: 4.8%;
}

#profile
{
	margin-bottom: 8.4%;
}

/* Following Media Query Dimensions Taken From
   https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488

/* desktops */
@media (min-width: 1281px)
{
    #appImg
    {
        margin-top: 5%;
    }
}

/* laptops */
@media (min-width: 1025px) and (max-width: 1280px)
{
    #appImg
    {
        margin-top: 9%;
    }
}

/* portrait tablets */
@media (min-width: 768px) and (max-width: 1024px)
{
    #appImg
    {
        margin-top: 5vh;
    }
    #appImg video
    {
        height: 40vh;
        width: 20vw;
    }
}

/* tablets */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
{
    #appImg
    {
        margin-top: 5vh;
    }
    #appImg video
    {
        height: 40vh;
        width: 20vw;
    }
}

/* low res tables and landscape smartphones */
@media (min-width: 481px) and (max-width: 767px)
{
    #appImg video
    {
        height: 40vh;
        width: 20vw;
    }
}

/* portrait smartphones */
@media (min-width: 320px) and (max-width: 480px)
{
    #appImg video
    {
        height: 30vh;
        width: 20vw;
    }
}


