#notesContainer
{
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
#notesContentContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    border: 1px solid #e5006c;
    border-radius: 3px;
    border-radius: 1vw;
    padding: 1.5vw;
}
.notes
{
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-y: scroll;
    height: 200px; max-height: 300px;
    width: 200px; max-width: 300px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    border-radius: 1vw;
    padding: 1vw;
}
#notesContainer ::-webkit-scrollbar {
    width: 12px;
}

#notesContainer ::-webkit-scrollbar-track {
    display: none;
}
.smallText
{
    font-size: 0.8em;
}
h2
{
    color: black;
}
